body {
    font-family: 'Mooli', sans-serif;
}

.navbar {
    background-color:#6b4fb1;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:#6b4fb1;
}

#cabecalho .nav .nav-link,
.navbar-brand, 
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #a595ce59;
}

.section-title {
    font-family: 'Sacramento', cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #a595ce59;
}

.text-colored {
    color:#6b4fb1;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #6b4fb1;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #6b4fb1;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

form textarea {
    resize: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

